<div class="row mt-5">
  <h3>7日分の投稿数</h3>
  <table class="table">
    <tr>
      <% 6.downto(1) do |day| %>
        <th><%= day %>日前</th>
      <% end %>
      <th>今日</th>
    </tr>
    <tr>
      <% day_ratio.each do |key, value| %>
        <td><%= value %></td>
      <% end %>
    </tr>
  </table>
  <canvas id="createdCart"></canvas>
</div>


<script>
const myChart = new Chart($("#createdCart"), {
  type: 'line',
  data: {
    labels: ["6日前","5日前","4日前","3日前","2日前","1日前","今日",],
    datasets: [{
      label: '投稿した本の数',
      backgroundColor: "rgba(0,0,80,0.4)",
      borderColor: "rgba(0,0,80,1)",
      data: <%= @day_ratio.values %>
    }]
  }
});
</script>