<div class="row mt-5">
  <h3>7日分の投稿数</h3>
  <table class="table">
    <tr>
      <% day_labels.each do |label| %>
        <th><%= label %></th>
      <% end %>
    </tr>
    <tr>
      <% day_ratio.each do |key, value| %>
        <td><%= value %></td>
      <% end %>
    </tr>
  </table>
  <canvas id="createdCart"></canvas>
</div>


<script>
$(document).on('turbolinks:load', function () {
  const ctx = $("#createdCart")
  let myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: <%= raw @day_labels %>,
      datasets: [{
        label: '投稿した本の数',
        backgroundColor: "rgba(0,0,80,0.4)",
        borderColor: "rgba(0,0,80,1)",
        data: <%= @day_ratio.values %>
      }]
    }
  });
})
</script>