<div class="col-12 py-3">
		<%= form_with url: search_path, method: :get do |f| %>
			<%= f.text_field :w, placeholder: "search word", value: search_word, class: 'form-control', class: "col-8" %>
			<%= f.submit :search, class: 'btn btn-primary' %>
		<% end %>
</div>