<li>
	<%= link_to user_path(current_user),class: 'nav-link text-light' do %>
		<i class="fas fa-home"></i> Home
	<% end %>
</li>
<li>
	<%=  link_to users_path,class: 'nav-link text-light' do %>
		<i class="fas fa-users"></i> Users
	<% end %>
</li>
<li>
	<%=  link_to books_path ,class: 'nav-link text-light' do %>
		<i class="fas fa-book-open"></i> Books
	<% end %>
</li>
<li>
	<%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
		<i class="fas fa-sign-out-alt"></i> logout
	<% end %>
</li>