<li>
	<%= link_to root_path,class: 'nav-link text-light' do %>
		<i class="fas fa-home"></i> Home
	<% end %>
</li>
<li>
	<%= link_to root_path,class: 'nav-link text-light' do %>
		<i class="fas fa-link"></i> About
	<% end %>
</li>
<li>
	<%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
		<i class="fas fa-user-plus"></i> sign up
	<% end %>
</li>
<li>
	<%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
		<i class="fas fa-sign-in-alt"></i> login
	<% end %>
</li>