<div class="col-12 alert alert-danger">
	<h3>入力した内容にエラーが<%= model.errors.count %>件あります。</h3>
	<ul>
	<% model.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
</div>